.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: var(--card-glass);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  display: inline-flex;
  gap: 1.2rem;

}

.auth-btn {
  display: grid;
  place-items: center;
}

.nav-bar ul {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.2rem;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-bar ul::-webkit-scrollbar {
  display: none;
}

.nav-bar li.auth-btn {
  margin-left: auto;
  flex-shrink: 0;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #444 #000;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.page-container::-webkit-scrollbar {
  width: 12px;
}
.page-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
}
.page-container::-webkit-scrollbar-track {
  background: #000;
}

.spinner-wrapper {
  min-height: 300px;
  display: grid;
  place-items: center;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-label-text {
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .nav-label-text {
    margin-left: 0;
    display: none;
  }

  .nav-icon {
    font-size: 1.4rem;
  }

  .nav-bar ul {
    justify-content: center;
  }

  .nav-bar li.auth-btn {
    align-self: center;
  }
}
