.header {
  background: var(--card-glass);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 2rem;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  flex: 0 0 auto;
  position: sticky;
  top: 0;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.page-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #444 #000;
  margin: auto;
  padding: 2rem;
}

.page-container::-webkit-scrollbar {
  width: 16px;
}

.page-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.page-container::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.page-container::-webkit-scrollbar-track {
  background: #000;
  border-radius: 4px;
}


.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.nav-bar li {
  display: flex;
  align-items: center;
}

nav ul li .active label {
  color: var(--text-primary);
  text-shadow: 0px 0px 10px#007bff, 0px 0px 20px#007bff, 0px 0px 30px#007bff,
    0px 0px 40px#007bff;
}
